@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'YEKAN';
    src: url('../font/Vazir-Thin-FD-WOL.eot') format('eot'),
        url('../font/Vazir-FD-WOL.woff') format('woff'),
        url('../font/Vazir-FD-WOL.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url('../images/background-2.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(7.5px);
    font-family: 'YEKAN';
    @apply flex justify-center items-center h-screen text-black font-normal;

    .custom-toast {
        margin-bottom: 5px !important;
        height: auto !important;
        min-height: unset !important;
        max-height: unset !important;
        padding-top: 5px !important;
        align-items: center !important;

        button {
            align-self: center !important;
        }
    }

    .window-chat {
        @apply bg-[url('../images/clouds-twilight-times.jpg')] bg-no-repeat bg-cover relative;

        &::after {
            @apply absolute content-[''] w-full h-full top-0 left-0 right-0 bottom-0 dark:bg-[#000000a0];
        }
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
            justify-content: flex-start;
        }
    }

    p {
        @apply text-primary dark:text-dark-primary;
    }
}

.inputs {
    @apply relative row-start bg-background rounded-lg p-3;

    .peer {
        @apply w-full outline-none bg-transparent text-base text-black;

        &::placeholder {
            @apply text-transparent;
        }

        &:not(:placeholder-shown)~.label-peer {
            @apply -top-3 text-xs rounded-md text-primary dark:text-dark-primary px-2 md:gap-x-1.5 gap-x-[2px];

            .icon {
                @apply start-2 top-3 w-4 h-4;

                svg {
                    width: 15px;
                    height: 15px;
                }
            }
        }

        &:focus~.label-peer {
            @apply -top-3 text-xs rounded-md text-primary dark:text-dark-primary px-2 md:gap-x-1.5 gap-x-[2px];

            .icon {
                @apply start-2 top-3 w-4 h-4;

                svg {
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }

    .label-peer {
        @apply absolute start-2 top-3 text-sm text-primary dark:text-dark-primary transition-all row gap-x-3;

        .icon {
            @apply w-5 h-5;
        }
    }
}